@using System.Globalization
@using Microsoft.AspNetCore.Localization
@inject Calibre_net.Client.Services.LayoutService LayoutService

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Calibre-net.styles.css" />
    <link rel="stylesheet" href="fontello/css/calibre-net.css" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <HeadOutlet />
</head>

<body>
    <CascadingValue Value="@(HttpContext?.Request.Cookies["calibre-net_darkmode"] == "true")" Name="DarkModeCookie">
        <Calibre_net.Client.Components.Routes />
    </CascadingValue>
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/app.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
</body>

</html>
@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    protected override void OnInitialized()
    {
        HttpContext?.Response.Cookies.Append(
        CookieRequestCultureProvider.DefaultCookieName,
        CookieRequestCultureProvider.MakeCookieValue(
        new RequestCulture(
        CultureInfo.CurrentCulture,
        CultureInfo.CurrentUICulture)));

        LayoutService.SetDarkMode(HttpContext?.Request.Cookies["calibre-net_darkmode"] == "true");
    }

}