.category-results {
    ::deep {
        .category-list {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            width: fit-content;
            margin: 0 auto;
            a {
                display: block;
                .mud-badge-root{
                    width: 100%;

                    .mud-badge.mud-badge-center.right.mud-badge-overlap {
                        right: 4px;
                        left: unset;
                    }
                }

                .star-rating + p{
                    margin: 0;
                }
            }
        }
    }
}