@rendermode InteractiveAuto
@inject NavigationManager NavManager
@inject BookClient BookClient

@if (Metadata != null)
{
    <ComicsBlazor.ComicsBlazorView Url="@Url" Name="Comics Reader" Metadata="@Metadata" GetPage="GetComicPage"
        SaveBookmark="SaveBookmark" @rendermode="new InteractiveAutoRenderMode(prerender: false)" />
}
else
{
    <div>Loading...</div>
}


@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string Format { get; set; } = string.Empty;

    private ComicsBlazor.ComicMetadata? Metadata { get; set; }


    private string Url => NavManager.BaseUri + $"api/v1/book/download/{Id}/{Format}";

    override protected async Task OnInitializedAsync()
    {
        var meta = await BookClient.MetadataAsync(Id, Format);
        var bookmark = await BookClient.GetBookmarkAsync(Id, Format);
        if (meta.ComicMetadata != null)
        {
            Metadata = meta.ComicMetadata.ToComicsBlazorMetadata();
            if (bookmark != null)
            {
                int.TryParse(bookmark.Position, out var position);
                Metadata.LastReadPosition = position;
            }
        }
    }

    private async Task<ComicsBlazor.PageData?> GetComicPage(int pageNmber)
    {
        var page = await BookClient.PageAsStreamAsync(Id, Format, pageNmber);

        if (page != null)
            return new ComicsBlazor.PageData(page.PageContent, page.contentType);

        return null;
    }

    private async void SaveBookmark(string position)
    {
        await BookClient.SetBookmarkAsync(Id, Format, position);
    }


}