::deep {
    .sort-badge {
        .right {
            left: -10px;
        }
        .mud-badge-top{
            top: 10px;
        }
        .mud-badge-bottom{
            top: -10px;
        }
    }
}