::deep .sort-badge .right {
  left: -10px;
}
::deep .sort-badge .mud-badge-top {
  top: 10px;
}
::deep .sort-badge .mud-badge-bottom {
  top: -10px;
}

@media (max-width: 960px) {
  ::deep .mud-icon-button {
    padding-left: 2px;
  }
}