.book-thumb {
  width: min(200px, 50% - 4px);
}
.book-thumb:hover img {
  opacity: 0.75;
}
.book-thumb .book-cover {
  height: 300px;
  text-align: center;
  position: relative;
}
@media (max-width: 960px) {
  .book-thumb .book-cover {
    height: 274px;
  }
}
.book-thumb .book-cover img {
  transition: opacity linear 0.3s;
  max-height: 100%;
  max-width: 100%;
}
.book-thumb .book-cover .mark-read {
  position: absolute;
  bottom: -2px;
  left: -2px;
}
.book-thumb .book-info {
  height: 100%;
}
.book-thumb .book-info .book-authors {
  text-align: right;
  position: relative;
  min-height: 2.5rem;
}
.book-thumb .book-info .book-authors ul {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 0.5rem;
}
.book-thumb .book-info .book-authors ul:hover,
.book-thumb .book-info .book-authors ul :focus-within {
  background-color: var(--mud-palette-background);
  display: block;
  overflow: visible;
  position: absolute;
  right: 0;
  padding-bottom: 0.5rem;
}
.book-thumb .book-info .book-series {
  text-wrap: nowrap;
}
.book-thumb .book-info .book-series ::deep a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-thumb .book-info .book-series:hover,
.book-thumb .book-info .book-series :focus-within {
  background-color: var(--mud-palette-background);
  z-index: 2;
}
.book-thumb .book-info .book-series:hover ::deep a,
.book-thumb .book-info .book-series :focus-within ::deep a {
  background-color: var(--mud-palette-background);
  padding-right: 0.3rem;
  display: inline-flex;
  overflow: visible;
}
.book-thumb .book-info .book-series:hover ::deep p,
.book-thumb .book-info .book-series:hover ::deep span,
.book-thumb .book-info .book-series :focus-within ::deep p,
.book-thumb .book-info .book-series :focus-within ::deep span {
  background-color: var(--mud-palette-background);
  border-radius: 0 8px 8px 0;
  padding-right: 0.3rem;
}
.book-thumb .book-info ::deep .star-rating .mud-icon-root {
  font-size: 0.8rem;
}

@media (min-width: 960px) {
  .book-thumb.timeline {
    width: 100%;
    flex-direction: row-reverse !important;
    gap: 8px;
    width: min(450px, 80%);
    margin: 0 0 0 auto;
  }
  .book-thumb.timeline .book-cover {
    max-height: 200px;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
  }
  .mud-timeline-vertical.mud-timeline-position-alternate .mud-timeline-item:nth-child(odd):not(.mud-timeline-item-start) .book-thumb.timeline ::deep,
.mud-timeline-vertical.mud-timeline-position-alternate .mud-timeline-item.mud-timeline-item-end .book-thumb.timeline ::deep {
    flex-direction: row !important;
    margin: 0 auto 0 0;
  }
}
@media (max-width: 960px) {
  .book-thumb.timeline {
    width: 100%;
    gap: 8px;
    margin: 0 0 0 auto;
  }
  .book-thumb.timeline .book-cover {
    max-height: 200px;
    width: -moz-max-content;
    width: max-content;
  }
  .mud-timeline-vertical.mud-timeline-position-alternate .mud-timeline-item:nth-child(odd):not(.mud-timeline-item-start) .book-thumb.timeline ::deep,
.mud-timeline-vertical.mud-timeline-position-alternate .mud-timeline-item.mud-timeline-item-end .book-thumb.timeline ::deep {
    margin: 0 auto 0 0;
  }
}