@inherits LayoutComponentBase
@using Calibre_net.Client.Components.Layout.Parts
@layout Calibre_net.Client.Components.Layout.MudMainLayout


<div>
    <MudLayout>
        <MudMainContent>
            @Body
        </MudMainContent>


        <MudAppBar Bottom="true" Fixed="true" Elevation="1" Dense=true>
            <CultureSelector />
        </MudAppBar>
    </MudLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
