@* @rendermode InteractiveAuto *@

<MudAppBar Fixed="true" Elevation="0" Dense="true">
        <SiteTitle/>

    <DrawerToggleButton DrawerClassName="my-layout-drawer" IsDrawerOpen="_initialDrawerState" />

    <SearchBar />
    <MudSpacer />
 

    <ThemeToggleButton />
    @* <CultureSelector /> *@
    <div> @System.Globalization.CultureInfo.CurrentCulture.Name</div>

    <TopMenu />
</MudAppBar>
<MudDrawer Class="mud-drawer-fixed my-layout-drawer" 
ClipMode="DrawerClipMode.Always" 
Open="_initialDrawerState">
    @* <MudDrawerHeader Class="top-row" Dense="true">

    </MudDrawerHeader> *@
    <NavMenu />
</MudDrawer>

@code {
    private bool _initialDrawerState = true;
}