<MudAppBar Fixed="true" Elevation="0" Dense="true">
    <DrawerToggleButton DrawerClassName="my-layout-drawer" IsDrawerOpen="_initialDrawerState" />
    <MudSpacer />
    <ThemeToggleButton />
    @* <CultureSelector /> *@
    <div> @System.Globalization.CultureInfo.CurrentCulture.Name</div>

    <TopMenu />
</MudAppBar>
<MudDrawer Class="mud-drawer-fixed my-layout-drawer" ClipMode="DrawerClipMode.Never" Open="_initialDrawerState">
    <MudDrawerHeader Class="top-row" Dense="true">
        <SiteTitle/>
    </MudDrawerHeader>
    <NavMenu />
</MudDrawer>

@code {
    private bool _initialDrawerState = true;
}