    .mud-select-input {
        ::deep {
            .input-select {
                font: inherit;
                color: currentColor;
                width: 100%;
                border: 0;
                height: 1.1876em;
                margin: 0;
                display: block;
                padding: 6px 0 7px;
                min-width: 0;
                background: none;
                position: relative;
                box-sizing: content-box;
                letter-spacing: inherit;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

                option {

                    color: var(--mud-palette-text-primary);
                    background-color: var(--mud-palette-surface);
                }
            }
        }
    }