
@inherits LayoutComponentBase
@layout MudMainLayout
    
<MudLayout>
    <MainAppDrawerBar/> @* Here you can set what interactivity you want in the drawer without affecting the Body interactivity. *@
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="pt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
