::deep {
    .title-icon {
        display: inline-block;
        height: 3rem;
        margin-right: 12px;

        img {
            height: 100%;
            
    margin-bottom: .5rem;
        }
    }
}