::deep .title-icon {
  display: inline-block;
  height: 3rem;
  margin-right: 12px;
}
::deep .title-icon img {
  height: 100%;
  margin-bottom: 0.5rem;
}
@media (max-width: 960px) {
  ::deep .mud-timeline-vertical.mud-timeline-position-alternate .mud-timeline-item:not(:last-child) {
    margin-bottom: -30%;
  }
}