::deep {
    .title-icon {
        display: inline-block;
        height: 3rem;
        margin-right: 12px;

        img {
            height: 100%;

            margin-bottom: .5rem;
        }
    }

    @media (max-width: 960px) {

    .mud-timeline-vertical.mud-timeline-position-alternate .mud-timeline-item:not(:last-child) {

        margin-bottom: -30%;
    }
}
}